<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ session.config.display }}</h5>

        @if (session.isAuthenticated) {
        <p class="card-text text-success mb-2">Logged In
            : {{ session.user.sub || session.user.name || 'Unknown' }}
        </p>

        @if (expiresInSig(); as expiresIn) {
        <div class="mb-2 text-warning">
            <strong>Expires in:</strong> {{ expiresIn }}
        </div>
        }
        @if (renewsInSig(); as renewsin) {
        <div class="mb-3 text-info">
            <strong>Renews in:</strong> {{ renewsin }}
        </div>
        }
        <div class="d-flex gap-2">
            <button class="btn btn-outline-primary" (click)="renew()">Renew</button>
            <button class="btn btn-outline-danger" (click)="logout()">Log Out</button>
        </div>
        } @else {
        <p class="card-text text-secondary mb-3">Not logged in</p>
        <button class="btn btn-primary" (click)="login()">
            Login with {{ session.config.display }}
        </button>
        }
    </div>
</div>