/* markdown table styling */
markdown {
  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
    margin: 2rem 0;
    
    th, td {
      padding: 1.25rem !important; /* Forces the spacing you want */
      vertical-align: middle;
    }
    
    thead th {
      background-color: var(--bs-tertiary-bg);
    }
  }
}